@import "variables";
.steps {
  background: $mainBgColor;
  padding: 428px 0 501px;

  &-container {
    @include flex-space-between();

    &--col {
      &-title {
        width: 200px;
        position: relative;
        font-family: $fontYesevaOne;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E3B873;
        margin-bottom: 92px;

        &--subtitle {
          font-family: $fontFuturaBookC;
          font-size: 15px;
          line-height: 21px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 18px;
        }

        &::after {
          content: ' ';
          position: absolute;
          top: 85%;
          left: 105%;
          width: 100px;
          height: 1px;
          background: $mainPageColor;
        }
      }

      &-description {
        &-page_number {
          font-family: $fontYesevaOne;
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 22px;
        }

        &-title {
          width: 50%;
          font-family: $fontYesevaOne;
          font-size: 15px;
          line-height: 23px;
          text-transform: uppercase;
          color: #E3B873;
          margin-bottom: 16px;
        }

        &-text {
          width: 80%;
          font-family: $fontFuturaBookC;
          font-size: 15px;
          line-height: 25px;
          color: #FFFFFF;
          margin-bottom: 110px;
        }
      }

      &-list {
        @include flex-space-between;
        margin: 90px 0 44px;

        &--item {
          margin-right: 101px;

          &:last-child {
            margin-right: 0;
          }

          &-point {
            margin-bottom: 30px;

            span {
              font-family: $fontYesevaOne;
              font-size: 15px;
              line-height: 21px;
              text-transform: uppercase;
              color: #FFFFFF;
            }

            p {
              margin-top: 17px;
              font-family: $fontFuturaBookC;
              font-size: 15px;
              line-height: 18px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}

.icon-arrow-right {
  background: url(../assets/icons/arrow-lg.svg) no-repeat;
  width: 42px;
  height: 15px;
  margin-left: 30px;
  &:hover{
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  }

}

.icon-arrow-left {
  background: url(../assets/icons/arrow-lg.svg) no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -5px;
  width: 42px;
  height: 15px;
  margin-right: 30px;
  &:hover{
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  }
}

.control-list--item {
  display: inline-block;
  margin: 0 6px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  &:hover{
    background: #ffffff;
  }

  &.active {
    background: #ffffff;
  }
}
