/*font-family: Yeseva One, FuturaBookC*/
@import 'variables';
@import 'header';
@import 'banner';
@import 'projects';
@import 'online_control';
@import 'type_of_repair';
@import 'design_projects';
@import 'request';
@import 'type_of_design';
@import 'our_team';
@import 'reviews';
@import 'question_form';
@import 'location';
@import 'steps';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  font-family: FuturaBookC, sans-serif;
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 768px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Yeseva One', serif;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}

h4 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 14px;
  }
}

.btn {
  width: 207px;
  height: 51px;
  border: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  font-family: FuturaDemiC, sans-serif;
  border-radius: 2px;
  margin: 10px;
  cursor: pointer;
}

.btn-transparent {
  background: none;
  border: 1px solid #ffffff;
  &:hover {
    background: $mainPageColor;
    border: 1px solid $mainPageColor;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  }
}

.btn-mainColor {
  background: $mainPageColor;
  &:hover {
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  }
}

.icon {
  vertical-align: middle;
  display: inline-block;
}

.icon-down {
  background: url(../assets/icons/arrow-circle.svg) no-repeat;
  width: 29px;
  height: 29px;
}

.wrapper {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
  @media screen and (max-width: 640px) {
    min-width: 375px;
  }
  @media screen and (max-width: 768px) {
    max-width: 90%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1024px) {
    max-width: 1000px;
  }
}

.input-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: white;
    border: 1px solid $mainPageColor;
  }

  .checkmark::after {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    height: 0;
    width: 0;
    border-radius: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    opacity: 1;
  }

  input:checked ~ .checkmark {
    background-color: $mainPageColor;
    border-radius: 3px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid $mainPageColor;
  }

  input:checked ~ .checkmark::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 3px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
  }
}


.control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.footer {
  background: $mainBgColor;
  &-block {
    @include flex-space-between();
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
    }
    font-size: 14px;
    line-height: 16px;
    padding: 22px 0 24px 0;
    text-transform: uppercase;

    &--nav-menu {
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }

      &__item {
        display: inline-block;
        list-style: none;
        padding: 0 23px;

        a {
          text-decoration: none;
          color: white;
          font-family: $fontFuturaBookC;

          &:hover {
            color: $mainPageColor;
          }
        }

        &:hover {
          color: $mainPageColor;
        }
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &--phone{
      a {
        color: $mainPageColor;
      }
    }

    &--button {
      background: $mainPageColor;
      border-radius: 2px;
      padding: 10px 33px 11px;
      @media screen and (max-width: 640px) {
        display: none;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
        text-decoration: underline;
      }

      &.btn {
        height: 35px;
      }
    }


    &--logo {
      color: $mainPageColor;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .steps {
    display: none;
    background: $mainBgColor;
  }

}
